@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Press+Start+2P&display=swap');


header {
    background-color: #4C5B84;
    padding: 10px 20px;
    border-bottom: 10px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    margin-right: 30px;
}

a::before {
    content: "";
    width: 10px;
    height: 10px;
    background: #62C370;
    margin-right: 10px;
}

.btn {
    display: inline-block;
    background-color: #62C370; 
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
    transition: transform 100ms linear;
}

.btn:hover {
    background-color: #6ce27d;
    transform: scale(1.05);
}


/*********************** BANNER ***************************/

.banner {
    width: 100%;
    height: 800px;
    padding: 116px 91px;
    background-image: url('/assets/img/banner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner::before {
    content: "";
    background-color: rgba(0, 0, 0, 50%);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.banner-text {
    position: relative;
    width: 627px;
    height: 184px;
    margin-bottom: 38px;
    background-color: #7C5E99;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px #000000;
    box-shadow: 10px 10px 0px 0px #000000;
}

.banner-text h1 {
    font-size: 40px;
    line-height: 40px;
    color: #CEB02A;
    margin-bottom: 32px;
}

.banner-text h2 {
    font-size: 30px;
    line-height: 30px;
    color: #FFF;
}

.banner-buttons {
    position: relative;
    width: 627px;
    display: flex;
    justify-content: space-around;
}