.action-link {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
    cursor: pointer;
}

.action-link::before {
    content: "";
    width: 10px;
    height: 10px;
    background: #62C370;
    margin-right: 10px;
}