.banner-text {
    display: inline-block;
    margin-bottom: 38px;
    padding: 42px 44px;
    background-color: #7C5E99;
    box-shadow: 10px 10px 0px 0px #000000;

    text-align: center;
    text-shadow: 4px 4px #000000;
}

.banner-text h1 {
    margin-bottom: 32px;
}