.node-card > .title {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: #F25A70;
    font-weight: 400;
}

.node-card > .logo {
    padding: 52px 20px;
    background-color: #CEB02A;
    border: 5px solid #000;
}

.node-card > .logo.-second {
    padding: 15px;
    background-color: #F25A70;
    border: 5px solid #000;
}