.section-model.-projects {
    background-color: #3A4042;
}

.section-model.-projects > .wrapper {
    max-width: 1152px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.section-model.-projects .project-image {
    box-shadow: 10px 10px #62C370;
}