.section-projects {
    background-color: #3A4042;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #62C370;
}

.section-projects > .main-title.-second {
    margin-bottom: 50px;
}

 .section-projects > .wrapper {
    max-width: 1152px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
 }

 .section-projects .project-image {
    box-shadow: 10px 10px #62C370;
 }